  <div >
    
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="text-center mb-4 mt-5">
        <%= link_to root_path do %> <!-- Div para centralizar e adicionar margem inferior -->
        <%= image_tag "CronoMEDLOGO.png", alt: "Logo do MedicoManage", style: "width: 400px; height: auto;" %>
        <% end %>
      </div>
      <h1 class="text-center">Crie sua conta</h1>

  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const imageInput = document.getElementById('image_input');
    const imagePreview = document.getElementById('image_preview');

    imageInput.addEventListener('change', function() {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        
        reader.onload = function(e) {
          imagePreview.src = e.target.result;
          imagePreview.style.display = 'block';
        }
        
        reader.readAsDataURL(file);
      } else {
        imagePreview.src = '';
        imagePreview.style.display = 'none';
      }
    });
  });
</script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group text-center">
          <%= image_tag '', id: 'image_preview', class: 'img-circle', style: 'max-width: 100px; display: none;' %>
        </div>
        <div class="form-group">
          <%= f.label :foto %>
          <%= f.file_field :image, id: 'image_input', class: 'form-control' %>
        </div>



        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :senha %>
          <% if @minimum_password_length %>
            <em>(  Minimo de <%= @minimum_password_length %> caracteres)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :confirme_senha %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :Nome %>
          <%= f.text_field :first_name, autocomplete: "first-name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :Sobrenome %>
          <%= f.text_field :last_name, autocomplete: "last-name", class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :data_nascimento %>
          <%= f.date_select :dt_nasc, start_year: Date.today.year - 100, end_year: Date.today.year - 18, default: { year:2000 , month: 1, day: 1 } , class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :tipo_usuário %>
          <%= f.select :user_type, ["Medico", "Hospital"], { prompt: "Selecione o tipo de perfil" }, class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "Registrar-se", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
