<!-- app/views/shift_swaps/index.html.erb -->
<%= render "home/head" %>
<div class="container">
  <h1 class="my-4">Solicitações de Troca de Plantão</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Médico Solicitante</th>
        <th>Médico Receptor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @shift_swaps.each do |shift_swap| %>
        <tr>
          <td><%= shift_swap.requesting_doctor.first_name %> <%= shift_swap.requesting_doctor.last_name %></td>
          <td><%= shift_swap.receiving_doctor.first_name %> <%= shift_swap.receiving_doctor.last_name %></td>
          <td><%= shift_swap.status %></td>
          <td>
            <div class="btn-group" role="group">
              <% if shift_swap.status == 'pending' %>
                <%= button_to "Rejeitar", reject_shift_swap_path(shift_swap), method: :patch, class: "btn btn-danger btn-sm" %>
                <%= button_to "Aprovar", approve_shift_swap_path(shift_swap), method: :patch, class: "btn btn-success btn-sm" %>
                
              <% end %>
              <%= link_to 'Ver Detalhes', shift_swap_path(shift_swap), class: "btn btn-primary btn-sm" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
