<!-- app/views/shift_swaps/new.html.erb -->

<%= render "home/head" %>

<div class="container my-5">
  <% if Jornada.find(params[:jornada_id]).user_id == current_user.id %>
    <div class="card">
      <div class="card-header">
        Solicitar Troca de Plantão
      </div>
      <div class="card-body">
        <%= form_with(model: [ @jornada, @shift_swap ], local: true) do |form| %>
          <% if @shift_swap.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@shift_swap.errors.count, "erro") %> proíbe esta solicitação de troca de plantão de ser salva:</h2>
              <ul>
                <% @shift_swap.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            
            <% if @jornadas_troca.present? %>
              <%= form.label "Selecione o plantão que gostaria: ", class: "form-label" %>
              <%= form.select :receiving_doctor_id, grouped_options_for_select(@jornadas_troca.map { |data, jornadas| [data, jornadas.map { |jornada| ["#{jornada.user.first_name} - #{jornada.escala.setor} - #{jornada.turno}", jornada.user_id] }] }), { prompt: 'Selecione um médico' }, { class: "form-select" } %>
            <% else %>
              <p class="text-muted">Nenhum plantão disponível para solicitação de troca.</p>
            <% end %>
          </div>

          <div class="d-grid gap-2">
            <%= form.submit 'Solicitar Troca', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-warning mt-4">Esse plantão não pertence a você.</div>
  <% end %>
</div>
