<%= render "home/head" %>
<div class="card">
  <div class="card-header">
    <h4>Solicitação de troca</h4>
  </div>
  <div class="card-body">
    <p>
      <strong>Médico Solicitante:</strong>
      <%= @shift_swap.requesting_doctor.first_name %>
    </p>

    <p>
      <strong>Médico Receptor:</strong>
      <%= @shift_swap.receiving_doctor.first_name %>
    </p>

    <p>
      <strong>Plantão Ofertado:</strong>
      <%= @shift_swap.jornada.turno %> - <%= @shift_swap.jornada.data %>
    </p>
     <p>
      <strong>Plantão Desejado:</strong>
      <%= Jornada.find(@shift_swap.jornada_id_destination).turno %> - <%= Jornada.find(@shift_swap.jornada_id_destination).data %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @shift_swap.status %>
    </p>
  </div>
  <% if @shift_swap.status == 'pending' && @shift_swap.receiving_doctor == current_user %>
    <div class="card-footer">
      <%= button_to "Rejeitar", reject_shift_swap_path(@shift_swap), method: :patch, class: "btn btn-danger btn-sm" %>
      <%= button_to "Aprovar", approve_shift_swap_path(@shift_swap), method: :patch, class: "btn btn-success btn-sm" %>
    </div>
  <% end %>
</div>
