<!DOCTYPE html>
<html>
<head>
  <title>Sistema Gerenciador de Escalas Médicas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  
  <%= render "home/head"%>

</head>
<body>

  <%= month_calendar do |date| %>
  <%= date.strftime("%d") %>
  
  <% end %>
 
  <%= yield %>
</body>
</html>
