<div id="<%= dom_id jornada %>">
  <p>
    <strong>Data:</strong>
    <%= jornada.data %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= jornada.turno %>
  </p>

  <p>
    <strong>User:</strong>
    <%= jornada.user_id %>
  </p>

  <p>
    <strong>Escala:</strong>
    <%= jornada.escala_id %>
  </p>

</div>
