<p style="color: green"><%= notice %></p>

<%= render @jornada %>

<div>
  <%= link_to "Edit this jornada", edit_jornada_path(@jornada) %> |
   <%= link_to "Mostrar a escala", @escala, class: "btn btn-primary" %>

  <%= button_to "Destroy this jornada", @jornada, method: :delete %>
</div>
