<div class="container mt-5">
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <% @users.each do |admin| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <%if admin.image_url != nil%>
              <%= image_tag admin.image_url.to_s, class: "avatar-img rounded-circle me-3", alt: "Avatar", style: "width: 20%; height: 20%;" %>
              <%else%>
              <%= image_tag "Boneco.png", class: "avatar-img rounded-circle me-3", alt: "Avatar", style: "width: 20%; height: 20%;" %>
              <%end%>
              <h5 class="card-title mb-0"><%= admin.first_name + " " + admin.last_name %></h5>
            </div>

            <div class="card-text">
              <ul class="list-unstyled">
                <li>
                  <strong>Escalas:</strong>
                  <ul class="list-unstyled mt-2">
                    <% @escalas.where(id_medico_adm: admin.id).each do |escala| %>
                      <li><%= escala.setor %> - <%= escala.users.count.to_s + " Médicos" %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
