<div class="container mt-5">
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <% @users.each do |admin| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <%if admin.image_url != nil%>
              <%= image_tag admin.image_url.to_s, class: "avatar-img rounded-circle me-3", alt: "Avatar", style: "width: 20%; height: 20%;" %>
              <%else%>
              <%= image_tag "Boneco.png", class: "avatar-img rounded-circle me-3", alt: "Avatar", style: "width: 20%; height: 20%;" %>
              <%end%>
              <h5 class="card-title mb-0"><%= admin.first_name + " " + admin.last_name %></h5>
            </div>

<div class="card-text">
  <ul class="list-unstyled">
    <li>
      <strong>Escalas:</strong>
      <ul class="list-unstyled mt-2">
        <% # Agrupar escalas por hospital e setor %>
        <% hospitais_e_setores = @escalas.where(id_medico_adm: admin.id).group_by { |escala| [escala.hospital, escala.setor] } %>

        <% # Ordenar hospitais e setores pelo nome do hospital e setor %>
        <% hospitais_e_setores = hospitais_e_setores.sort_by { |(hospital, setor), _| [hospital.nome_hospital, setor] } %>

        <% hospitais_e_setores.each do |(hospital, setor), _| %>
          <li>
            <strong><%= hospital.nome_hospital %></strong> - <%= setor %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
