<!DOCTYPE html>
<html>
  <head>
    <title>GPM - Gerenciador de Plantão Médico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
    
  </head>

  <body>
    <script>
  document.addEventListener('turbo:load', () => {
    const hospitalSelect = document.getElementById('escala_hospital_id');

    if (hospitalSelect) {
      hospitalSelect.addEventListener('change', () => {
        const hospitalId = hospitalSelect.value;

        fetch(`/hospitals/${hospitalId}/setores.json`)
          .then(response => response.json())
          .then(data => {
            const setorSelect = document.getElementById('setor-select');
            setorSelect.innerHTML = '';

            data.forEach(setor => {
              const option = document.createElement('option');
              option.value = setor;
              option.textContent = setor;
              setorSelect.appendChild(option);
            });
          });
      });
    }
  });
</script>

  <div class="container-fluid p-0">
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
